@font-face {
	font-family: 'Briar Display';
  src: url('/assets/fonts/Briar-Display.woff2') format('woff2');
}

html {
  background-color: #F7F0E8;
}

h1 {
  font-family: 'Briar Display';
  margin: 0px !important;
}

.hannah-chung {
  font-size: 50px;
  color: #ff8300;
  margin: 15px;
  width: 50%;
  overflow-wrap: anywhere;
}

@media (max-width: 600px) {
  .hannah-chung {
    font-size: 35px;
  }
}
